<!--
	This file is part of cnesexport.

	cnesexport is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	cnesexport is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with cnesexport.  If not, see <http://www.gnu.org/licenses/>.
-->

<div id="bd" class="page-wrapper-simple">
    <div id="nonav" class="page-simple" style="width:100%; margin-left: 10%; margin-right: 10%;">
        <div>
            <h1 class="maintenance-title text-center">Export data as OpenXML</h1>
            <form id="generation-form">
                <div class="big-spacer-bottom">
                    <label for="key" id="keyLabel" class="login-label" style="display: block;"><strong>Profile key</strong></label>
                    <select id="key"
                            name="key"
                            class="login-input" required></select>
                    <br /><em style="color:grey;">
                        Tips: all quality profiles are available <a href="../../../profiles" target="_blank">here</a>.
                    </em>
                </div>
                <div class="big-spacer-bottom">
                    <div id="loading" class="text-center overflow-hidden" style="margin-bottom: 1em; display: none;">
                        <img src="../../static/cnesexport/images/loader.gif" alt="Working..."/>
                    </div>
                    <div class="overflow-hidden">
                        <input id="generation" name="generation" type="button" value="Export">
                    </div>
                </div>
                <textarea id="logging" name="logging" class="login-input" rows="15" style="background: black; color:white; resize: none; width: 100%;" readonly="">## Logging console ##</textarea>
            </form>
        </div>
    </div>
</div>
